@font-face {
  font-family: 'Coolvetica';
  src: url('/fonts/Coolvetica.otf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Heavitas';
  src: url('/fonts/Heavitas.tff') format('truetype');
  font-weight: 700;
  font-style: normal;
}
